.center{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.h-primary{
    font-size: 2.8em;
    /* padding: 12px; */
    /* font-family: 'Lobster', cursive; */
}
.h-secondary{
    font-size: 2em;
    padding: 12px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#navbar ul{
    padding-left: 0px;
}
#navbar{
    background-color: #2c73ca;
    margin-top: -16px;
}
#navbar ul li img{
    height: 50px;
    width: 50px;
}
section {
    /* border: 2px solid black; */
    text-align: center;
}
.home{
    margin-top: -16px;
    /* height: 384px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: url('BG2.jpg') no-repeat center center/cover;
    opacity: 0.9;
    font-size: 1.4rem;
    color: white;
}
.home p{
    margin-bottom: -8px;
}
.home h1{
    margin-bottom: 29px;
}
.btn{
    background-color: green;
    border-radius: 6px;
    height: 1.5rem;
    margin-top: 75px;
}
#services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
}
.box{
    /* border: 2px solid green; */
    width: 330px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    background-color: #7e4922;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 10px 10px;
}
.box h2{
    margin-bottom: -19px;
    margin-top: 18px;
}

.services-container div img{
    height: 116px;
    width: 124px;
}

#client {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.client-item img{
    height: 210px;
    width: 258px ;
    margin-top: -16px ;
    margin-bottom: 13px ;
}
#contact-section{
    background:url('Contact.webp') no-repeat center center/cover ;
    opacity: 0.9;
}
#contact-section .contact{
    /* position : relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}


.contact form{
    width:30%;
    }
    .contact form div{
        margin-top: 14px;
    }
    .contact label{
    /* width: 114%; */
    /* font-size: 1.3rem;
    font-family: 'Lobster', cursive; */
    display: none;
    }
    .contact input,
    .contact textarea{
        width: 100%;
    padding: 0.7rem;

    border-radius: 10px;
    color: rgb(70, 4, 4);
    text-align: center;
    /* align-items: center; */
    
    }
    